body {
    background-image: url('../images/bg_pattern.png');
}

.icon-width {
    width: 20%;
}

.container-fluid {
    direction: rtl;
    text-align: right;
}

section {
  padding: 100px 70px;
    /* height: 700px; */
    overflow: hidden;

}

section h2 {
  font-family: Lalezar;
  border: 2px solid #000;
  color: inherit;
  font-size: 72px;
}
section img {
  width: 100%;
 border: 2px solid #000;
}

section.landing {
  background-color: #f2f4fb;
}

section.landing .banner {
  height: 350px;
  width: 100%;

}

section.about {
  background-color: #d22780;
}

section.third {
  background-color: #f8b500;
}

section.fourth {
  background-color: #5e227f;
}