body {
    direction: rtl;
    background-image: url('../images/bg_pattern.png');
}

.icon-width {
    width: 20%;
}

.container-fluid {

    text-align: right;
}

/*  Home page Design */
section {
    padding: 40px 10px 40px 10px;
    display: grid;
     height: 500px;
    overflow: hidden;

}

section h1 {
    font-family: Lalezar;
    font-size: 72px;
    text-decoration: none;
    color: #4f4f4f;
}

section h2 {
  font-family: Lalezar;
  color: #fff;
  font-size: 72px;
}

section h1 a,
section h2 a,
section h1 a:hover,
section h2 a:hover
{
    text-decoration: none;
    color: inherit;
}

section img {
  width: 400px;
  margin-left: 10%;
}



section.landing {
  background-color: #f2f4fb;
}

section.landing .banner {
  height: 350px;
  width: 100%;

}

section.about {
  background-color: #d22780;
}

section.third {
  background-color: #f8b500;
}

section.fourth {
  background-color: #5e227f;
}