body {
    background-image: url('../images/bg_pattern.png');
}

.icon-width {
    width: 20%;
}

.container-fluid {
    direction: rtl;
    text-align: right;
}

section {
  height: 100vh;
  overflow: hidden;
  padding: 20px !important;

}

section h2 {
  font-family: Lalezar;
  border: 2px solid #000;
  color: inherit;
  font-size: 72px;
}
section img {
  padding: 10px;
  width: 100%;
  height: 100%;
 border: 2px solid #000;
}

section.landing {
  background-color: #f2f4fb;
}

section.about {
  background-color: #d22780;
}

section.third {
  background-color: #f8b500;
}

section.fourth {
  background-color: #5e227f;
}