{% extends 'base.html' %}
{% block title %} تسيير الفرق {% endblock %}

{% block content %}
    <section class="landing">
      <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-6">
          <h2 class="text-center">نتائج المباريات</h2>
        </div>
        <div class="col-sm-12 col-md-6">
{#          <img src="./images/stats.svg" alt="">#}
        </div>
      </div>
    </section>

    <section class="about">
      <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-6">
          <h2 class="text-center">اللاعبين</h2>
        </div>
        <div class="col-sm-12 col-md-6">
{#          <img src="./images/player.svg" alt="">#}
        </div>
      </div>
    </section>

    <section class="third">
      <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-6">
          <h2 class="text-center">الفرق</h2>
        </div>
        <div class="col-sm-12 col-md-6">
{#          <img src="./images/team2.svg" alt="">#}
        </div>
      </div>
    </section>

    <section class="fourth">
      <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-6">
          <h2 class="text-center">نتائج المباريات</h2>
        </div>
        <div class="col-sm-12 col-md-6">
{#          <img src="./images/score.svg" alt="">#}
        </div>
      </div>
    </section>

{% endblock %}
