<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>نتائج المباريات</title>
</head>
<body>

{% for score in scores %}
    <div align="center">
        <h2> نتيجة مباراة {{ score.first_team }} و {{ score.second_team }} </h2>
        <h3> {{ score.first_team_score }} - {{ score.second_team_score }} </h3>
    </div>
{% endfor %}
</body>
</html>